// Palette
$light-gray: rgba(0, 0, 0, 0.075);
$gray: rgba(0, 0, 0, 0.15); // SPACING AND PADDING

.pad-0 {
  padding: 0 !important;
}

.pad-1 {
  padding: 1rem;
}

.pad-2 {
  padding: 2rem;
}

.pad-0-1 {
  padding: 0 1rem;
}

.pad-0-2 {
  padding: 0 2rem;
}

.pad-1-0 {
  padding: 1rem 0;
}

.pad-2-0 {
  padding: 2rem 0;
}

.pad-1-2 {
  padding: 1rem 2rem;
}

.pad-2-1 {
  padding: 2rem 1rem;
}

.space-1,
.space-2,
.space-3,
.space-4 {
  display: block;
  width: 100%;
}

.space-1 {
  height: 1rem;
}

.space-2 {
  height: 2rem;
}

.space-3 {
  height: 3rem;
}

.space-4 {
  height: 4rem;
}

.marg-0 {
  margin: 0 !important;
}

.marg-top-0 {
  margin-top: 0;
}

.marg-top-1 {
  margin-top: 1rem;
}

.marg-top-2 {
  margin-top: 2rem;
}

.marg-bot-0 {
  margin-bottom: 0;
}

.marg-bot-1 {
  margin-bottom: 1rem;
}

.marg-bot-2 {
  margin-bottom: 2rem;
}
// Borders, lines, and dividers

.border {
  border: 1px solid $gray;
}

.light-border {
  border: 1px solid $light-gray;
}

.line-0,
.line-1,
.line-2 {
  display: block;
  width: 100%;
  height: 1px;
  background: $gray;

  &.light-line {
    background: $light-gray;
  }
}

.line-0 {
  margin: 0;
}

.line-1 {
  margin: 1rem 0;
}

.line-2 {
  margin: 2rem 0;
}
// Coloring and typography

.black {
  background: black;
}

.white {
  background: white;
}

.light-gray {
  background: $light-gray;
}

.black-text,
a.black-text {
  color: black;
}

.white-text,
a.white-text {
  color: white;
}

,
.no-decoration,
a.no-decoration,
a.no-decoration:hover {
  text-decoration: none;
}

.bold {
  font-weight: bold;
}
// Shading

.hover {
  transition: all 0.2s ease;
}

.shade-1 {
  box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.1);

  &.hover:hover {
    box-shadow: 0 0.0625rem 0.375rem rgba(0, 0, 0, 0.175);
  }
}

.shade-2 {
  box-shadow: 0 0.1875rem 0.625rem rgba(0, 0, 0, 0.15);

  &.hover:hover {
    box-shadow: 0 0.125rem 0.5rem rgba(0, 0, 0, 0.225);
  }
}

.shade-3 {
  box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.2);

  &.hover:hover {
    box-shadow: 0 0.1875rem 0.5rem rgba(0, 0, 0, 0.275);
  }
}

.shade-4 {
  box-shadow: 0 0.3125rem 0.875rem rgba(0, 0, 0, 0.25);

  &.hover:hover {
    box-shadow: 0 0.25rem 0.75rem rgba(0, 0, 0, 0.325);
  }
}
// Further functionallity

.cursor,
button {
  cursor: pointer;
  cursor: hand;
}
// Positioning

.absolute {
  position: absolute;
}

.fixed {
  position: fixed;
}

.relative {
  position: relative;
}

.inline {
  display: inline-block;
}

.block {
  display: block;
}

.full-width {
  width: 100%;
}

.background-image {
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  &.parallax {
    background-attachment: fixed;
    // Parallax scrolling is unstable on phones and small devices
    @media only screen and (max-device-width: 1024px) {
      background-attachment: scroll;
    }
  }
}
